

/* grid container */
.grid-container {
   display: grid;
   grid-template-columns: repeat(3,20%);
   grid-auto-columns: 20%;
   grid-template-rows: repeat(3, 20vh);
   grid-auto-rows: 20vh;

   grid-auto-flow: row;
   /* set gap */
   gap: 2em;


   grid-template-areas: 
      "box1 box1 box2 box6"
      "box4 box3 box3 box6"
      "box4 box3 box3 box6"
      "box5 box5 box7 box7"
      "box5 box5 box8 box8"
      "box9 box9 box8 box8"
   ;

   /* we can also use grid */

}

.item {
   background-color: rebeccapurple;
}

.box1 {grid-area: box1;}
.box2 {grid-area: box2;}
.box3 {grid-area: box3;}
.box4 {grid-area: box4;}
.box5 {grid-area: box5;}
.box6 {grid-area: box6;}
.box7 {grid-area: box7;}
.box8 {grid-area: box8;}
.box9 {grid-area: box9;}